@import '../../../../../global.scss';

// .main-container{
//     position: fixed;
//     top: 70px;
//     bottom: 0;
//     overflow: auto;
//     left: 0;
//     right: 0;
//   }
//   .main-content {
//     min-height: calc(100vh - 160px);
//     position: relative;
//     margin-right: auto;
//     margin-left: auto;
//   }

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    overflow: auto;
}

.main-content {
    flex: 1;
    margin: 0;
    padding: 5px;
}

.main-body {
    height: 200px;
    max-width: 1350px;
    width: 100%;
}

// .card-img{
//     border: 0;
// }

// .responsive-img {
//     width: calc(100% - 120px);
//     height: auto;
//     max-height: calc(100vh - 160px);
//     max-width: 100%;
// }

.container-opciones{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    position: absolute;
    top: 66%;
}


.container-btn{
    flex: 1 1 auto; 
    min-width: 100px; 
    display: flex;
    justify-content: center;
}

.container-btn.last{
    flex-basis: 100%; 
    order: 1; 
    display: flex;
    justify-content: center;

}

.container-btn:not(.last) {
    order: 0;
}

/////////////////////////////////////////

.card-img{
    border: 0;
    width: 100%;
    margin-top: 10px;
}

.responsive-img {
    width: calc(100%);
    height: auto;
    position: relative;
}

.centrar-componentes{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.custom-contenido{
    //height: 100vh;
    width: 100%;
    padding: 0;

}

.custom-img{
    width: 100%;
}

.btn-large{
    height: 70px;
    font-size: 18px;
}