@import '../../../../../global.scss';

// .main-container{
//     position: fixed;
//     top: 70px;
//     bottom: 0;
//     overflow: auto;
//     left: 0;
//     right: 0;
//   }
//   .main-content {
//     min-height: calc(100vh - 160px);
//     position: relative;
//     margin-right: auto;
//     margin-left: auto;
//   }

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    overflow: auto;
}

.main-content {
    flex: 1;
    margin: 0;
    padding: 5px;
}

.registro-title{
    //font-family: 'Playfair Display', serif;
    font-size: 1.9em;
    font-weight: 600;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    //letter-spacing: 0.5px;
    line-height: 1;
    margin: 0;
}

.buscador_container{
    display: flex;
    flex-direction: row;
}

.buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.buscador-title{
    font-size: 1em;
    color: #333;
    text-align: left;
    align-self: center;
    text-transform: uppercase;
    margin: 0;    
    padding: 0;
    font-weight: 700;
    padding-left: 14px;
    padding-right: 14px;
}

.container-busqueda{
    display: flex;
    flex-wrap: nowrap;
}

.container-botones{
    gap: 15px;
    padding-left: 15px;
}

.boton-busqueda{
    align-self: flex-end;
}

.container-estado{
    align-self: flex-end;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.estado-label{
    margin-inline: 30px;
    margin-block: 12px;
    font-weight: 500;
}

.divisor_subtitle{
    height: 40px;
    background-color: darkkhaki;
    width: 100%;
    //padding-top : 0px;
}

.centrar-componentes{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.centrar-componentes-tabla{
    max-width: 1300px;
    width: 96%;
    margin: auto;
}

.registro-subtitle{
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    text-align: right;
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
    padding-left: 14px;
}

.panel-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-grupo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-grupo-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 30px;
}

.container-grupo-apuntes{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.container-grupo-jurisprudencia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

.subcontainer-jurisprudencia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    width: 100%;
}


.container-confirmacion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    padding-inline: 70px;
}

// .subcontainer-confirmacion{
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     flex-wrap: wrap;
//     padding: 0.5rem;
//     width: 100%;
// }

.container-tabla{
    margin-right: 25px;
    margin-left: 25px;
}

.container-subgrupo{
    width: auto;
}

.container-data-magistrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    // margin-top: -0.5rem;
    // padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    //padding: 0;
}

.container-data-origen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    //max-width: 380px;
    // margin-top: -0.5rem;
    // padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    //padding: 0;
}

.grupo-data{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 0px;     
}

.grupo-data-origen{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;     
}

.label-grupo-data{
    //width: 100%;
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.data-maestra{
    height: 30px;
    width: 100%;
    margin: 0;
    flex: 1; 
    //padding: 10px; 
    border: 1px solid #000;
    text-align: center;
    font-size: 10px;
    color: black;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.data-input-recurrente{
    max-height: 250px;
    //width: 100%;
    //margin: 0;
    //flex: 1; 
    //padding: 10px; 
    // border: 1px solid #000;
    // text-align: center;
    font-size: 14px;
    color: black;
    //font-family: "Montserrat", sans-serif !important;
    //font-weight: 400;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    background-color: #e1e1e1;
    padding: 0.85rem;
}

.overlay-custom-cabecera{
    background-color: #e1e1e1;
}

.overlay-custom{
    background-color: dimgray;
}

.data-magistrados{
    //min-width: 40px;
    max-width: 90px;
}

.data-origen{
    // min-width: 40px;
//    max-width: 80px;
    width: 100%;
}

.data-procedencia{
    // min-width: 40px;
    width: 100%;
    //max-width: 115px;
}

.container-materias{
    width: 100%;
}

.container-grupo-materias{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-inline: 25px;
    padding-top: 20px;
    width: 100%;
}

::ng-deep .custom-panel .p-panel-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0px; 
    padding-right: 0px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

::ng-deep .col-tipo{
    text-align: center;
    width: 100px;
    font-size: 11px;
}

::ng-deep .col-parte{
    width: 300px;
    font-size: 11px;
}

::ng-deep .col-sentido{
    width: 150px;
    font-size: 11px;
}

::ng-deep .col-anotacion{
    width: 150px;
    font-size: 11px;
    text-align: center;
}

::ng-deep .custom-dropdown .p-dropdown-panel .p-dropdown-item {
    font-size: 11px;
}

::ng-deep .custom-dropdown .p-inputtext{
    font-size: 11px;
}

::ng-deep .p-dropdown-items .p-dropdown-item{
    font-size: 13px;
}

.tabla-recurrentes{
    width: 100%;
    margin-top: 25px;
    //margin-inline: 25px;
    display:grid;
}

.apuntes-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    //position: relative;
    margin-inline: 0;
    padding-inline: 10px;
    //padding-block: 20px;
    box-sizing: border-box;
    width: 50%;
}

.overlay-container-cabecera {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-inline: 0;
    padding-inline: 10px;
}

.contador-apuntes{
    margin-top: 5px;
    text-align: right;
}

.custom-textarea{
    width: 100%;
    max-width: 530px;
    border: 1px solid #949494;
}

::ng-deep .p-picklist .p-picklist-header{
    font-size: 13px !important;
    padding-inline: 10px;
    padding-block: 10px;
}

::ng-deep .p-picklist .p-picklist-filter-container .p-picklist-filter-input{
    font-size: 13px !important;
}

::ng-deep .p-picklist .p-picklist-list .p-picklist-item{
    font-size: 13px !important;
    padding: 5px;
    text-align: center;
}

// ::ng-deep #materiaC .p-panel .p-panel-header{
//     // font-size: 13px !important;
//     // padding: 5px;
// }

::ng-deep .jurisprudenciaC .p-panel {
    font-size: 13px !important;
    width: calc(100vw - 40px);
    max-width: 600px;
    min-width: 340px;
    border: 1px solid #949494;
    border-radius: 0.4em;
    margin-top: 34px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

::ng-deep .materiaC .p-panel {
    font-size: 11px !important;
    width: 95%;
    padding-top: 10px;
    margin-inline: auto;
    padding-bottom: 5px;    
}

.jurisprudencia-buscador{
    width: 90%;
    margin-bottom: 15px;
    padding-inline: 5px;
    margin-inline: auto;
}

// @media (max-width: 1024px) { 
//     .container-subgrupo{
//         width: 100%;
//     }
// }

.discordia-container {
    padding: 4px;
}

.discordia-form{
    display: flex;
    flex-direction: row;
}

.discordia-boton {
    height: 30px;
    width: 30px;
    margin-right: 4px;
}

::ng-deep .container-boton-anotaciones .p-button {
    height: 32px !important;
    // width: 30px;
    // margin-right: 4px;
}

.discordia-valores{
    display: flex;
    flex-direction: row;
}

.container-opciones-busq{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    // margin-inline: 15px;
    margin-block: 10px;
    font-size: 13px;
}

.container-resultado-juris{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-end;
    padding-inline: 7px;
}

.highlighted{
    border: 1px solid black;
    background-color: darkred;
    color: white;
}

.descProceso{
    max-width: 150px;
}

.descActoProcesal{
    max-width: 200px;
}

.zclass{
    z-index: 99;
}

.disableClass{
    background-color:  #dbdbd4; // #FFF8B8;
    height: 30px;
}

.tabla-custom{
    border: 1px solid #949494;
}

.containerSelDiscordia{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem !important;
}

.remainingText{
    //position:absolute;
    color: darkred;
    bottom: 30px;
    right: 20px;
}

.container-boton-anotaciones{
    display: flex;
    justify-content: center;
}

.grupo-confirmacion{
    display: flex;
    flex-direction: column;
    justify-content: left;
    //position: relative;
    margin-inline: 0;
    padding-inline: 10px;
}

#move-all-to-target {
    pointer-events: none; /* Deshabilita los eventos de clic */
    opacity: 0.5; /* Opcional: cambia la opacidad para dar la apariencia de deshabilitado */
}

/* Deshabilitar otro botón, por ejemplo, Move All to Source */
#move-all-to-source {
    pointer-events: none;
    opacity: 0.5;
}

// @media (min-width: 1500px) {}

::ng-deep .ql-picker-item{
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
}

@media screen and (max-width: 960px) {
    .apuntes-container{
        padding-inline: 15px;
        margin-inline: auto;
        width: calc(100vw - 40px);
        max-width: 600px;
        min-width: 340px;
    }
}

@media screen and (max-width: 750px) {
    .divisor_subtitle{
        padding-top : 0px;
    }
}

df-messenger {
    z-index: 999;
    position: fixed;
    --df-messenger-font-color: #000;
    --df-messenger-font-family: Google Sans;
    --df-messenger-chat-background: #f3f6fc;
    --df-messenger-message-user-background: #d3e3fd;
    --df-messenger-message-bot-background: #fff;
    --df-messenger-chat-bubble-icon-color: #fff;
    --df-messenger-chat-bubble-background:#8b0000;
    --df-messenger-titlebar-background:#8b0000;
    --df-messenger-titlebar-font-color:#fff;
    --df-messenger-message-border-radius: 16px;
    --df-messenger-chat-bubble-border: 2px solid #fff !important;
    bottom: 16px;
    right: 16px;
  }