<div class="menu-contaniner">
    <div class="menu-body">
        <div class="panel-img">
             <img class="menu-img" src="assets/img/vj/bandeja_trabajo_209.webp" alt="Portada Votación Judicial Suprema">
        </div>
        <div class="panel-options">
            <div class="menu-option marco-legal " mat-ripple (click)="goSeleccionarSala()">
                <div class="corner-ornament top-left"></div>
                <div class="corner-ornament top-right"></div>
                <div class="corner-ornament bottom-left"></div>
                <div class="corner-ornament bottom-right"></div>
                <div class="texto-contenido option-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu_open"></mat-icon>
                    <span>SELECCIONAR SALA</span>
                </div>
            </div>
            <div class="menu-option marco-legal" mat-ripple (click)="goVotaciones()">
                <div class="corner-ornament top-left"></div>
                <div class="corner-ornament top-right"></div>
                <div class="corner-ornament bottom-left"></div>
                <div class="corner-ornament bottom-right"></div>
                <div class="texto-contenido option-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit_calendar"></mat-icon>
                    <span>VOTACIONES</span>
                </div>
            </div>
            <div class="menu-option marco-legal" mat-ripple (click)="goBandejaT()">
                <div class="corner-ornament top-left"></div>
                <div class="corner-ornament top-right"></div>
                <div class="corner-ornament bottom-left"></div>
                <div class="corner-ornament bottom-right"></div>
                <div class="texto-contenido option-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="assignment"></mat-icon>
                    <span>BANDEJA DE TRABAJO</span>
                </div>
            </div>
            <div class="menu-option marco-legal" mat-ripple (click)="goReportes()">
                <div class="corner-ornament top-left"></div>
                <div class="corner-ornament top-right"></div>
                <div class="corner-ornament bottom-left"></div>
                <div class="corner-ornament bottom-right"></div>
                <div class="texto-contenido option-icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="library_books"></mat-icon>
                    <span>REPORTES</span>
                </div>
            </div>                         
        </div>
    </div>
</div>  