@import '../../../../../global.scss';
.menu-it-selected{
    background-color: $color-cuaternary;
}
.nav-pj-it{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    text-decoration: none;
    color: white !important;
    height: 100%;
    border-radius: 0;
  }
  
.nav-pj-it.selected{
    background-color: $color-secondary;
}