.main-body {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .row-header {
    flex: 0 1 auto;
    z-index: 99;
  }
  .row-content {
    flex: 1 1 auto;
    /* display: flex; */
    overflow-y: auto;
    position: relative;
  }
  .row-content-body {
    display: flex;
    flex-direction: row;
    z-index: 99;
  }
  .row-footer {
    flex: 0 1 50px;
    z-index: 999;
  }
  .panel-sidebar {
    display: block;
    height: 100%;
    position: fixed;
    width: 250px;
    transition: width 500ms;
    z-index: 999;
    background-color: white;
  }
  .panel-sidebar.sidebar-min {
    display: flex;
    width: auto;
    z-index: 999;
  }
  
  .panel-content {
    //margin-left: 250px;
    padding: 0rem 1rem;
    width: auto;
    z-index: 1;
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* --------------- */
    /*   overflow-y: auto; */
  }
  .main-titile-content{
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 0 1 auto;
  }
  .main-content{
    flex: 1 1 auto;

  }
  /*.panel-content.content-full {
    margin-left: 50px;
    transition: margin-left 300ms;
  }*/
  
  @media (max-width: 767px) {
    .panel-content {
      margin-left: 0px;
      transition: margin-left 300ms;
    }
    /*.panel-content.content-full {
      margin-left: 0px;
  
      transition: margin-left 300ms;
    }*/
    .panel-sidebar {
      display: none;
    }
    .panel-sidebar.sidebar-min {
      display: none;
    }
  }
  ::ng-deep .page-header {
    position: sticky;
    top: 0px;
    z-index: 9;
    //width: 100%;
    background-color: white;
    padding: 0rem 1rem;
  }

.panel-drawer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.icon-profile{
    font-size: 72px;
    height: 72px;
    width: 72px;
}
.menu-draw-header{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.main-title{
    //font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    //letter-spacing: 0.5px;
    line-height: 1;
    margin: 0;
}
