<app-navbar></app-navbar>
<div class="main-container">
    <div class="main-content">
        <div class="content-periles">
            <div class="grid m-0">
                <div class="col-12 sm:col-8 sm:col-offset-2 md:col-6 md:col-offset-3 lg:col-4 lg:col-offset-4 px-4">
                    <div class="grid mt-5">
                        <div class="col-12">
                            <div class="title-selec-sala">
                                Usted tiene más de un sala disponible
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="description-selec-sala">
                                Seleccione la sala con la que desea ingresar a la plataforma
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="grid">
                                <div *ngFor="let item of listaSalas; let indice = index"  [ngClass]="{'selected': item.select}"  class="shadow-6 col-12 my-2 item-sala" (click)="selectedSala(indice,item)" pRipple>
                                    <div class="grid mt-2">
                                        <!-- <div class="py-0 col-2 icon-sala-comtent">
                                            <fa-icon [icon]="item.icon" class="icon-sala"></fa-icon>
                                        </div> -->
                                        <div class="col-10 py-0">
                                            <div class="grid">
                                                <div class="col-12 pb-0 title-sala">{{item.title}}</div>
                                                <!-- <div class="col-12 py-0 description-sala">{{ item.description}}</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4 center">
                            <button pButton pRipple type="button" label="Ingresar"  icon="pi pi-sign-in" iconPos="right"  class="p-button-danger btn-pj" (click)="ingresar()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
