$color-vj-primary: #8b0000;
$color-vj-accent: #e29797;
$color-vj-light: #efefef;

$color-primary: #8b0000;
$color-secondary: #932304;
$color-tertiary: #79B0E0;
$color-cuaternary: #aa372f;
$color-quintenary: #EAF2F9;
$color-active: #8b0000;// botones
$color-inactive:#de8f85;
$color-brand-1: #0075BF;

$color-error: #E55454;
$color-infobox-error: #FEE8E8;

$color-state-wip: #DCA565;
$color-state-todo: #CBD3D6;
$color-state-done: #29AF87;
$color-state-error-dark: #E55454;

$color-neutral-n20: #D5D5D5;
$color-neutral-n0: #FFFFFF;
$color-neutral-n100: #000000;

$color-primary-p60: #92251f;
$color-primary-p100: #8b0000;
$color-primary-p40:#ecd0c8;
$color-primary-p20:#f9f1ea;
$color-primary-p80: #b73e2b;

$color-primary-state-wip: #DCA565;
$color-primary-state-done: #29AF87;
$color-primary-state-todo: #CBD3D6;

$color-primary-error-dark: #E55454;
$color-primary-error-light:#FEE8E8;

$color-secondary-brand-1: #0075BF;
$color-prinary-info-light: #CDEEFE;

$color-primary-ok-light: #D0ECE4;


